!!! 5
%html
	%head
		%title{title}
		%meta{charset: "utf-8"}
		%meta{name: "viewport" content: "width=device-width, inital-scale=1"}
		%link{rel: "stylesheet", media: "screen", href: "screen.css"}
	%body
		%div#header{id: "header"}
			%h1 {blog-title}
			%h2 {blog-description}
			%div#nav
				%ul
					%li
						%a{href: "archive"} Archive
					%li	
						%a{href: "previous"} {block:PreviousPage} Previous Page
					%li	
						%a{href: "next"} {block:NextPage} Next Page
			
		%div#content{id: "content"}
			{block:Posts}
			{block:Text}
			{block:Title}
			%h2
				%a{href: "{Permalink}"} {Title}
			{/block:Title}
			
			{body}
			{block:post}
			%p.post
				%a{href: "{Permalink}"} Read post
			{/block:post}
				
			%footer
				{block:Date}
				%a{href: "{Permalink}"} Posted on the {DayofMonth} {Month}, {Year}
				{/block:Date}
			{block:Text}
			
			{/block:Posts}
			
		%div#footer
			%p
				Copyright | Arlene Hayes